In [1]:
import numpy as np
import scipy as sp
import pandas as pd

In [2]:
house_df = pd.read_csv("train.csv")

In [4]:
house_df.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge

In [30]:
print(house_df.loc[:5,:])

    MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
Id
1           60       RL         65.0     8450   Pave   NaN      Reg
2           20       RL         80.0     9600   Pave   NaN      Reg
3           60       RL         68.0    11250   Pave   NaN      IR1
4           70       RL         60.0     9550   Pave   NaN      IR1
5           60       RL         84.0    14260   Pave   NaN      IR1

   LandContour Utilities LotConfig    ...     PoolArea PoolQC Fence  \
Id                                    ...
1          Lvl    AllPub    Inside    ...            0    NaN   NaN
2          Lvl    AllPub       FR2    ...            0    NaN   NaN
3          Lvl    AllPub    Inside    ...            0    NaN   NaN
4          Lvl    AllPub    Corner    ...            0    NaN   NaN
5          Lvl    AllPub       FR2    ...            0    NaN   NaN

   MiscFeature MiscVal MoSold  YrSold  SaleType  SaleCondition  SalePrice
Id
1          NaN       0      2    2008        WD         Normal     208500
2          NaN       0      5    2007        WD         Normal     181500
3          NaN       0      9    2008        WD         Normal     223500
4          NaN       0      2    2006        WD        Abnorml     140000
5          NaN       0     12    2008        WD         Normal     250000

[5 rows x 80 columns]

Next, I'm going to filter out all of the NaN values.  I'm doing that first by dropping columns in which 90% of the values are NaN.  This deletes the majority of the NaN values.  Then, I'm going to drop any rows that have an NaN.

In [85]:
house_df2 = house_df.dropna(thresh=1314,axis=1)
house_df3 = house_df2.dropna(how='any',axis=0)
house_df3.head()

,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,...,0,0,0,0,0,2,2008,WD,Normal,208500
2,20,RL,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,Veenker,...,0,0,0,0,0,5,2007,WD,Normal,181500
3,60,RL,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,...,0,0,0,0,0,9,2008,WD,Normal,223500
4,70,RL,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
5,60,RL,14260,Pave,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,...,0,0,0,0,0,12,2008,WD,Normal,250000

In [46]:
house_df3['Utilities'].value_counts()

AllPub    1337
NoSeWa       1
Name: Utilities, dtype: int64

Now we need to go through the House Price DataFrame to encode all of the columns with categorical features.  I will be doing the One-hot encoding technique found in the ML reference book page 221.

In [61]:
#house_df3.dtypes

In [60]:
house_df4 = pd.get_dummies(house_df3)
house_df4.head()

,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
Id,,,,,,,,,,,,,,,,,,,,,
1,8450,7,5,2003,2003,196.0,706,0,150,856,...,0,0,0,1,0,0,0,0,1,0
2,9600,6,8,1976,1976,0.0,978,0,284,1262,...,0,0,0,1,0,0,0,0,1,0
3,11250,7,5,2001,2002,162.0,486,0,434,920,...,0,0,0,1,0,0,0,0,1,0
4,9550,7,5,1915,1970,0.0,216,0,540,756,...,0,0,0,1,1,0,0,0,0,0
5,14260,8,5,2000,2000,350.0,655,0,490,1145,...,0,0,0,1,0,0,0,0,1,0

In [62]:
y = house_df4['SalePrice']
X = house_df4.drop('SalePrice',axis=1)
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=7)

In [63]:
y.head()

Id
1    208500
2    181500
3    223500
4    140000
5    250000
Name: SalePrice, dtype: int64

In [70]:
linridge = Ridge().fit(X_train,y_train)
print("Training set score: {:.2f}".format(linridge.score(X_train, y_train)))
print("Test set score: {:.2f}".format(linridge.score(X_test, y_test)))

Training set score: 0.93
Test set score: 0.68

Without doing any tweaking of the Ridge regression model, we are getting a score of 0.68 on the test dataset.  However, the difference in the training set score and the test set score, shows that we are likely overfitting the our data.  In order to reduce overfitting, we increase our alpha from the default value of 1.0.  Let's try out 5, 10, 20, 50, and 100.

In [71]:
linridge5 = Ridge(alpha=5).fit(X_train,y_train)
print("Training set score: {:.2f}".format(linridge5.score(X_train, y_train)))
print("Test set score: {:.2f}".format(linridge5.score(X_test, y_test)))

Training set score: 0.92
Test set score: 0.70

In [72]:
linridge10 = Ridge(alpha=10).fit(X_train,y_train)
print("Training set score: {:.2f}".format(linridge10.score(X_train, y_train)))
print("Test set score: {:.2f}".format(linridge10.score(X_test, y_test)))

Training set score: 0.91
Test set score: 0.70

In [73]:
linridge20 = Ridge(alpha=20).fit(X_train,y_train)
print("Training set score: {:.2f}".format(linridge20.score(X_train, y_train)))
print("Test set score: {:.2f}".format(linridge20.score(X_test, y_test)))

Training set score: 0.91
Test set score: 0.69

In [74]:
linridge50 = Ridge(alpha=50).fit(X_train,y_train)
print("Training set score: {:.2f}".format(linridge50.score(X_train, y_train)))
print("Test set score: {:.2f}".format(linridge50.score(X_test, y_test)))

Training set score: 0.89
Test set score: 0.67

In [75]:
linridge100 = Ridge(alpha=100).fit(X_train,y_train)
print("Training set score: {:.2f}".format(linridge100.score(X_train, y_train)))
print("Test set score: {:.2f}".format(linridge100.score(X_test, y_test)))

Training set score: 0.88
Test set score: 0.65

Based on the results above, our best score is 0.7 using an alpha of 10.  This is the model I will use for making predictions on the test data.  Now I need to read in and do some preprocessing on the test data.

In [79]:
test_df = pd.read_csv("test.csv")

In [80]:
test_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [81]:
test_df.set_index('Id',inplace=True)

In [89]:
# reindexing test_df such that the columns conform to the same as house_df3
test_df = test_df.reindex(columns=house_df3.columns)
test_df = test_df.drop('SalePrice',axis=1)

In [97]:
null_features = test_df.isnull().sum()
print(null_features)

MSSubClass        0
MSZoning          4
LotArea           0
Street            0
LotShape          0
LandContour       0
Utilities         2
LotConfig         0
LandSlope         0
Neighborhood      0
Condition1        0
Condition2        0
BldgType          0
HouseStyle        0
OverallQual       0
OverallCond       0
YearBuilt         0
YearRemodAdd      0
RoofStyle         0
RoofMatl          0
Exterior1st       1
Exterior2nd       1
MasVnrType       16
MasVnrArea       15
ExterQual         0
ExterCond         0
Foundation        0
BsmtQual         44
BsmtCond         45
BsmtExposure     44
                 ..
GrLivArea         0
BsmtFullBath      2
BsmtHalfBath      2
FullBath          0
HalfBath          0
BedroomAbvGr      0
KitchenAbvGr      0
KitchenQual       1
TotRmsAbvGrd      0
Functional        2
Fireplaces        0
GarageType       76
GarageYrBlt      78
GarageFinish     78
GarageCars        1
GarageArea        1
GarageQual       78
GarageCond       78
PavedDrive        0
WoodDeckSF        0
OpenPorchSF       0
EnclosedPorch     0
3SsnPorch         0
ScreenPorch       0
PoolArea          0
MiscVal           0
MoSold            0
YrSold            0
SaleType          1
SaleCondition     0
Length: 73, dtype: int64

In [91]:
from sklearn.preprocessing import Imputer

imp = Imputer(missing_values='NaN',strategy='most_frequent',axis=0)
test_df = imp.fit_transform(test_df)

ValueError: could not convert string to float: 'Normal'